@use "styles/variables.scss";

.bar {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  overflow: hidden;
  background-color: variables.$coffee-cream-light;

  .strength {
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 9999px;
    transition: width 0.2s ease-in-out;

    &.--0 {
      width: 25%;
      background-color: #f90163;
    }

    &.--1 {
      width: 50%;
      background-color: #fcdc01;
    }

    &.--2 {
      width: 75%;
      background-color: #16d2f3;
    }

    &.--3 {
      width: 100%;
      background-color: #68c95b;
    }
  }
}
