@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@styles/checkbox.scss";
@import "@styles/signInBtn.scss";
@import "@styles/inputField.scss";
@import "@styles/passwordBar.scss";

html,
body {
  font-family: "Satoshi", sans-serif;
}

$coffee-dark: #483434;
$coffee-light: #6b4f4f;
$coffee-cream: #eed6c4;
$coffee-cream-light: #fff3e4;
